Repository UMC-Inha/Web, pull requests merged in 2024-11, with the labels that each got.

#44 [3주차/jerry] 워크북 제출합니다.
  keyword/chapter03/chapter3/.gitignore
  keyword/chapter03/chapter3/README.md
  keyword/chapter03/chapter3/eslint.config.js
  keyword/chapter03/chapter3/index.html
  keyword/chapter03/chapter3/package-lock.json
  keyword/chapter03/chapter3/package.json
  keyword/chapter03/chapter3/public/vite.svg
  keyword/chapter03/chapter3/src/App.css
  keyword/chapter03/chapter3/src/App.jsx
  keyword/chapter03/chapter3/src/assets/react.svg
  keyword/chapter03/chapter3/src/components/custom-button.jsx
  keyword/chapter03/chapter3/src/components/navbar.jsx
  keyword/chapter03/chapter3/src/index.css
  keyword/chapter03/chapter3/src/layout/root-layout.jsx
  keyword/chapter03/chapter3/src/main.jsx
  keyword/chapter03/chapter3/src/pages/home.jsx
  keyword/chapter03/chapter3/src/pages/movies.jsx
  keyword/chapter03/chapter3/src/pages/not-found.jsx
  keyword/chapter03/chapter3/vite.config.js
  keyword/chapter03/keyword.md
  keyword/chapter03/react-router.md
  keyword/chapter03/styled-component.md
  mission/chapter03/mission_ch03/.gitignore
  mission/chapter03/mission_ch03/README.md
  mission/chapter03/mission_ch03/eslint.config.js
  mission/chapter03/mission_ch03/index.html
  mission/chapter03/mission_ch03/package-lock.json
  mission/chapter03/mission_ch03/package.json
  mission/chapter03/mission_ch03/public/vite.svg
  mission/chapter03/mission_ch03/src/App.css
  mission/chapter03/mission_ch03/src/App.jsx
  mission/chapter03/mission_ch03/src/assets/react.svg
  mission/chapter03/mission_ch03/src/assets/sanrio1.png
  mission/chapter03/mission_ch03/src/assets/sanrio2.png
  mission/chapter03/mission_ch03/src/assets/sanrio3.png
  mission/chapter03/mission_ch03/src/assets/sanrio4.png
  mission/chapter03/mission_ch03/src/components/CategoryList.jsx
  mission/chapter03/mission_ch03/src/components/MovieDetail.jsx
  mission/chapter03/mission_ch03/src/components/MovieList.jsx
  mission/chapter03/mission_ch03/src/components/navbar.jsx
  mission/chapter03/mission_ch03/src/components/sidebar.jsx
  mission/chapter03/mission_ch03/src/hooks/useCustomFetch.js
  mission/chapter03/mission_ch03/src/index.css
  mission/chapter03/mission_ch03/src/layout/root-layout.jsx
  mission/chapter03/mission_ch03/src/main.jsx
  mission/chapter03/mission_ch03/src/pages/home.jsx
  mission/chapter03/mission_ch03/src/pages/login.jsx
  mission/chapter03/mission_ch03/src/pages/movie.jsx
  mission/chapter03/mission_ch03/src/pages/search.jsx
  mission/chapter03/mission_ch03/src/pages/signup.jsx
  mission/chapter03/mission_ch03/src/styled/MovieDetail.styled.js
  mission/chapter03/mission_ch03/src/styled/MovieList.styled.js
  mission/chapter03/mission_ch03/src/styled/RootLayout.styled.js
  mission/chapter03/mission_ch03/src/styled/movie.styled.js
  mission/chapter03/mission_ch03/src/styled/navbar.styled.js
  mission/chapter03/mission_ch03/src/styled/sidebar.styled.js
  mission/chapter03/mission_ch03/vite.config.js
Labels: Mission, Keyword, Chapter03

#57 [4주차/현] 워크북 제출합니다.
  keyword/chapter04/keyword.md
  mission/chapter04/mission/.gitignore
  mission/chapter04/mission/README.md
  mission/chapter04/mission/eslint.config.js
  mission/chapter04/mission/index.html
  mission/chapter04/mission/package-lock.json
  mission/chapter04/mission/package.json
  mission/chapter04/mission/public/vite.svg
  mission/chapter04/mission/src/App.jsx
  mission/chapter04/mission/src/apis/axios-instance.js
  mission/chapter04/mission/src/assets/react.svg
  mission/chapter04/mission/src/components/Card.jsx
  mission/chapter04/mission/src/components/MoviesPage.jsx
  mission/chapter04/mission/src/components/category/nowplaying.jsx
  mission/chapter04/mission/src/components/category/popular.jsx
  mission/chapter04/mission/src/components/category/toprated.jsx
  mission/chapter04/mission/src/components/category/upcoming.jsx
  mission/chapter04/mission/src/components/categorypage.jsx
  mission/chapter04/mission/src/components/loginpage.jsx
  mission/chapter04/mission/src/components/movieidpage.jsx
  mission/chapter04/mission/src/components/navbar.jsx
  mission/chapter04/mission/src/components/searchpage.jsx
  mission/chapter04/mission/src/components/sidebar.jsx
  mission/chapter04/mission/src/components/signuppage.jsx
  mission/chapter04/mission/src/hooks/useCustomError.js
  mission/chapter04/mission/src/hooks/useCustomFetch.js
  mission/chapter04/mission/src/hooks/useCustomLoading.js
  mission/chapter04/mission/src/img/blue.jpg
  mission/chapter04/mission/src/img/green.jpg
  mission/chapter04/mission/src/img/purple.jpg
  mission/chapter04/mission/src/img/yellow.jpg
  mission/chapter04/mission/src/main.jsx
  mission/chapter04/mission/src/mocks/movies.js
  mission/chapter04/mission/src/rootlayout.jsx
  mission/chapter04/mission/src/styles/category.style.jsx
  mission/chapter04/mission/src/styles/layout.style.jsx
  mission/chapter04/mission/src/styles/movies.style.jsx
  mission/chapter04/mission/src/styles/navbar.style.jsx
  mission/chapter04/mission/src/styles/sidebar.style.jsx
  mission/chapter04/mission/vite.config.js
Labels: Mission, Keyword, Chapter04

#52 [4주차/노스] 워크북 제출합니다.
  keyword/chapter04/keyword.md
  mission/chapter04/mission1/.gitignore
  mission/chapter04/mission1/README.md
  mission/chapter04/mission1/eslint.config.js
  mission/chapter04/mission1/index.html
  mission/chapter04/mission1/package.json
  mission/chapter04/mission1/public/vite.svg
  mission/chapter04/mission1/src/App.jsx
  mission/chapter04/mission1/src/components/Card/card.jsx
  mission/chapter04/mission1/src/components/Card/card.style.js
  mission/chapter04/mission1/src/components/Navbar/navbar.jsx
  mission/chapter04/mission1/src/components/Navbar/navbar.style.js
  mission/chapter04/mission1/src/components/Sidebar/sidebar.jsx
  mission/chapter04/mission1/src/components/Sidebar/sidebar.style.js
  mission/chapter04/mission1/src/hooks/useFetchMovies.js
  mission/chapter04/mission1/src/layout/root-layout.jsx
  mission/chapter04/mission1/src/layout/root-layout.style.js
  mission/chapter04/mission1/src/main.jsx
  mission/chapter04/mission1/src/pages/LoginPage.jsx
  mission/chapter04/mission1/src/pages/Movies/category.jsx
  mission/chapter04/mission1/src/pages/Movies/category.style.js
  mission/chapter04/mission1/src/pages/Movies/movies.jsx
  mission/chapter04/mission1/src/pages/Movies/movies.style.js
  mission/chapter04/mission1/src/pages/SearchPage.jsx
  mission/chapter04/mission1/src/pages/SignupPage.jsx
  mission/chapter04/mission1/vite.config.js
  mission/chapter04/mission1/yarn.lock
  mission/chapter04/mission2/.gitignore
  mission/chapter04/mission2/README.md
  mission/chapter04/mission2/eslint.config.js
  mission/chapter04/mission2/index.html
  mission/chapter04/mission2/package.json
  mission/chapter04/mission2/public/vite.svg
  mission/chapter04/mission2/src/App.jsx
  mission/chapter04/mission2/src/components/Card/card.jsx
  mission/chapter04/mission2/src/components/Card/card.style.js
  mission/chapter04/mission2/src/components/Navbar/navbar.jsx
  mission/chapter04/mission2/src/components/Navbar/navbar.style.js
  mission/chapter04/mission2/src/components/Sidebar/sidebar.jsx
  mission/chapter04/mission2/src/components/Sidebar/sidebar.style.js
  mission/chapter04/mission2/src/hooks/useCustomFetch.js
  mission/chapter04/mission2/src/layout/root-layout.jsx
  mission/chapter04/mission2/src/layout/root-layout.style.js
  mission/chapter04/mission2/src/main.jsx
  mission/chapter04/mission2/src/pages/LoginPage.jsx
  mission/chapter04/mission2/src/pages/Movies/category.jsx
  mission/chapter04/mission2/src/pages/Movies/category.style.js
  mission/chapter04/mission2/src/pages/Movies/movieDetailPage.jsx
  mission/chapter04/mission2/src/pages/Movies/movieDetailPage.style.js
  mission/chapter04/mission2/src/pages/Movies/movies.jsx
  mission/chapter04/mission2/src/pages/Movies/movies.style.js
  mission/chapter04/mission2/src/pages/SearchPage.jsx
  mission/chapter04/mission2/src/pages/SignupPage.jsx
  mission/chapter04/mission2/src/pages/movieRoute/movieRoute.jsx
  mission/chapter04/mission2/vite.config.js
  mission/chapter04/mission2/yarn.lock
Labels: Mission, Keyword, Chapter04

#51 [4주차/민] 키워드 제출합니다
  keyword/chapter04/keyword.md
  keyword/chapter05/keyword.md
  keyword/chapter05/loginPage.jsx
  keyword/chapter05/myloginPage.css
  keyword/chapter05/myloginPage.jsx
  mission/chapter04/mission01/.gitignore
  mission/chapter04/mission01/README.md
  mission/chapter04/mission01/eslint.config.js
  mission/chapter04/mission01/index.html
  mission/chapter04/mission01/package-lock.json
  mission/chapter04/mission01/package.json
  mission/chapter04/mission01/public/vite.svg
  mission/chapter04/mission01/src/App.css
  mission/chapter04/mission01/src/App.jsx
  mission/chapter04/mission01/src/apis/axios-instance.js
  mission/chapter04/mission01/src/assets/react.svg
  mission/chapter04/mission01/src/components/castCard/castCard.css
  mission/chapter04/mission01/src/components/castCard/castCard.jsx
  mission/chapter04/mission01/src/components/categoryCard/categoryCard.jsx
  mission/chapter04/mission01/src/components/detailCard/detailCard.css
  mission/chapter04/mission01/src/components/detailCard/detailCard.jsx
  mission/chapter04/mission01/src/components/moviePoster/moviePoster.css
  mission/chapter04/mission01/src/components/moviePoster/moviePoster.jsx
  mission/chapter04/mission01/src/components/navbar/navbar.jsx
  mission/chapter04/mission01/src/components/sidebar/icon/movie.png
  mission/chapter04/mission01/src/components/sidebar/icon/search.png
  mission/chapter04/mission01/src/components/sidebar/sidebar.css
  mission/chapter04/mission01/src/components/sidebar/sidebar.jsx
  mission/chapter04/mission01/src/hooks/useCustomFetch.js
  mission/chapter04/mission01/src/index.css
  mission/chapter04/mission01/src/layout/root-layout.jsx
  mission/chapter04/mission01/src/main.jsx
  mission/chapter04/mission01/src/pages/basicPages/homePage.jsx
  mission/chapter04/mission01/src/pages/basicPages/loginPage.jsx
  mission/chapter04/mission01/src/pages/basicPages/searchPage.jsx
  mission/chapter04/mission01/src/pages/basicPages/signupPage.jsx
  mission/chapter04/mission01/src/pages/categoryPage/categoryPage.jsx
  mission/chapter04/mission01/src/pages/movieRoute/detailPage/detailPage.css
  mission/chapter04/mission01/src/pages/movieRoute/detailPage/detailPage.jsx
  mission/chapter04/mission01/src/pages/movieRoute/moveRoute.jsx
  mission/chapter04/mission01/src/pages/movieRoute/moviesPages/moviesPage.jsx
  mission/chapter04/mission01/src/pages/movieRoute/moviesPages/moviesPages.css
  mission/chapter04/mission01/vite.config.js
Labels: Mission, Keyword, Chapter04

#67 [5,6주차/하치와레] 워크북 제출합니다
  keyword/chapter05/keyword.md
Labels: Mission, Keyword, Chapter05, Chapter06

#69 [7주차/현] 워크북 제출합니다.
  keyword/chapter07/keyword.md
  mission/chapter07/mission/.gitignore
  mission/chapter07/mission/QueryProvider.jsx
  mission/chapter07/mission/README.md
  mission/chapter07/mission/eslint.config.js
  mission/chapter07/mission/index.html
  mission/chapter07/mission/package-lock.json
  mission/chapter07/mission/package.json
  mission/chapter07/mission/public/vite.svg
  mission/chapter07/mission/src/App.jsx
  mission/chapter07/mission/src/apis/axios-instance.js
  mission/chapter07/mission/src/assets/blue.jpg
  mission/chapter07/mission/src/assets/green.jpg
  mission/chapter07/mission/src/assets/purple.jpg
  mission/chapter07/mission/src/assets/yellow.jpg
  mission/chapter07/mission/src/components/card/Card.css
  mission/chapter07/mission/src/components/card/Card.jsx
  mission/chapter07/mission/src/components/category/category.style.jsx
  mission/chapter07/mission/src/components/category/category_detail/nowplaying.jsx
  mission/chapter07/mission/src/components/category/category_detail/popular.jsx
  mission/chapter07/mission/src/components/category/category_detail/toprated.jsx
  mission/chapter07/mission/src/components/category/category_detail/upcoming.jsx
  mission/chapter07/mission/src/components/category/categorypage.jsx
  mission/chapter07/mission/src/components/detail/MovieIdPage.css
  mission/chapter07/mission/src/components/detail/MovieIdPage.jsx
  mission/chapter07/mission/src/components/login/LoginPage.css
  mission/chapter07/mission/src/components/login/LoginPage.jsx
  mission/chapter07/mission/src/components/moviepage_main/MoviePage.css
  mission/chapter07/mission/src/components/moviepage_main/Movies.style.jsx
  mission/chapter07/mission/src/components/moviepage_main/MoviesPage.jsx
  mission/chapter07/mission/src/components/search/SearchPage.css
  mission/chapter07/mission/src/components/search/SearchPage.jsx
  mission/chapter07/mission/src/components/signup/SignupPage.css
  mission/chapter07/mission/src/components/signup/SignupPage.jsx
  mission/chapter07/mission/src/components/skeleton/SkeletonCard.css
  mission/chapter07/mission/src/components/skeleton/SkeletonCard.jsx
  mission/chapter07/mission/src/hooks/useCustomQuery.js
  mission/chapter07/mission/src/hooks/useInfiniteQuery.js
  mission/chapter07/mission/src/hooks/useInfiniteScroll.js
  mission/chapter07/mission/src/hooks/useLoginForm.js
  mission/chapter07/mission/src/hooks/usePaginated.js
  mission/chapter07/mission/src/hooks/useSignupForm.js
  mission/chapter07/mission/src/hooks/useUser.js
  mission/chapter07/mission/src/layout/Layout.jsx
  mission/chapter07/mission/src/layout/Layout.style.jsx
  mission/chapter07/mission/src/layout/navbar/Navbar.jsx
  mission/chapter07/mission/src/layout/navbar/Navbar.style.jsx
  mission/chapter07/mission/src/layout/sidebar/Sidebar.jsx
  mission/chapter07/mission/src/layout/sidebar/Sidebar.style.jsx
  mission/chapter07/mission/src/main.jsx
  mission/chapter07/mission/vite.config.js
Labels: Mission, Keyword, Chapter07
