Repository UMC-Inha/Web, pull requests merged in 2024-10, with the labels that each got.

#22 [1주차/다일] 워크북 제출합니다.
  keyword/chapter00/cssKeyword.md
  keyword/chapter00/htmlKeyword.md
  keyword/chapter01/keyword.md
  mission/chapter00/cssMission/assets/images/logo.webp
  mission/chapter00/cssMission/assets/images/themeBtn.svg
  mission/chapter00/cssMission/css/global.css
  mission/chapter00/cssMission/css/index.css
  mission/chapter00/cssMission/css/theme.css
  mission/chapter00/cssMission/index.html
  mission/chapter00/cssMission2/css/global.css
  mission/chapter00/cssMission2/css/index.css
  mission/chapter00/cssMission2/css/theme.css
  mission/chapter00/cssMission2/index.html
  mission/chapter00/htmlMission/htmlMision.md
  mission/chapter00/htmlMission/images/1.png
  mission/chapter00/htmlMission/images/2.png
  mission/chapter00/htmlMission/images/3.png
  mission/chapter00/htmlMission/images/4.png
  mission/chapter01/index.html
  mission/chapter01/js/index.js
  mission/chapter01/style/global.css
  mission/chapter01/style/index.css
  mission/chapter01/style/theme.css
Labels: Mission, Keyword, Chapter01

#32 [2주차/다일] 워크북 제출합니다.
  keyword/chapter02/keyword.md
  mission/chapter02/mission01/.gitignore
  mission/chapter02/mission01/README.md
  mission/chapter02/mission01/eslint.config.js
  mission/chapter02/mission01/index.html
  mission/chapter02/mission01/package-lock.json
  mission/chapter02/mission01/package.json
  mission/chapter02/mission01/public/vite.svg
  mission/chapter02/mission01/src/App/index.jsx
  mission/chapter02/mission01/src/App/model/useTodoList.js
  mission/chapter02/mission01/src/App/style.css
  mission/chapter02/mission01/src/App/ui/todoListBtns/index.jsx
  mission/chapter02/mission01/src/App/ui/todoListBtns/style.css
  mission/chapter02/mission01/src/index.jsx
  mission/chapter02/mission01/src/style.css
  mission/chapter02/mission01/vite.config.js
  mission/chapter02/mission02/.gitignore
  mission/chapter02/mission02/README.md
  mission/chapter02/mission02/eslint.config.js
  mission/chapter02/mission02/index.html
  mission/chapter02/mission02/package-lock.json
  mission/chapter02/mission02/package.json
  mission/chapter02/mission02/public/vite.svg
  mission/chapter02/mission02/src/App/index.jsx
  mission/chapter02/mission02/src/App/style.css
  mission/chapter02/mission02/src/Page/MovieListPage/index.jsx
  mission/chapter02/mission02/src/Page/MovieListPage/style.css
  mission/chapter02/mission02/src/Page/MovieListPage/ui/MovieList/api/useMovieList.js
  mission/chapter02/mission02/src/Page/MovieListPage/ui/MovieList/index.jsx
  mission/chapter02/mission02/src/Page/MovieListPage/ui/MovieList/style.css
  mission/chapter02/mission02/src/Page/index.jsx
  mission/chapter02/mission02/src/Page/style.css
  mission/chapter02/mission02/src/index.jsx
  mission/chapter02/mission02/src/style.css
  mission/chapter02/mission02/vite.config.js
Labels: Mission, Keyword, Chapter02

#28 [2주차/하치와레] 워크북 제출합니다.
  .DS_Store
  keyword/.DS_Store
  keyword/chapter02/keyword.md
  mission/.DS_Store
  mission/chapter01/chapter02.jsx
  mission/chapter02/mission01/.gitignore
  mission/chapter02/mission01/eslint.config.js
  mission/chapter02/mission01/index.html
  mission/chapter02/mission01/package-lock.json
  mission/chapter02/mission01/package.json
  mission/chapter02/mission01/public/vite.svg
  mission/chapter02/mission01/src/App.css
  mission/chapter02/mission01/src/App.jsx
  mission/chapter02/mission01/src/assets/react.svg
  mission/chapter02/mission01/src/components/button.jsx
  mission/chapter02/mission01/src/components/input.jsx
  mission/chapter02/mission01/src/index.css
  mission/chapter02/mission01/src/main.jsx
  mission/chapter02/mission01/vite.config.js
  mission/chapter02/mission02/.gitignore
  mission/chapter02/mission02/eslint.config.js
  mission/chapter02/mission02/index.html
  mission/chapter02/mission02/package-lock.json
  mission/chapter02/mission02/package.json
  mission/chapter02/mission02/public/vite.svg
  mission/chapter02/mission02/src/App.css
  mission/chapter02/mission02/src/App.jsx
  mission/chapter02/mission02/src/assets/react.svg
  mission/chapter02/mission02/src/components/movieinfo.jsx
  mission/chapter02/mission02/src/components/movielist.jsx
  mission/chapter02/mission02/src/index.css
  mission/chapter02/mission02/src/main.jsx
  mission/chapter02/mission02/src/mocks/Movies.js
  mission/chapter02/mission02/vite.config.js
  mission/chapter02/package-lock.json
Labels: Mission, Keyword, Chapter02

#33 [2주차/현] 워크북 제출합니다.
  keyword/chapter02/react.md
  mission/chapter02/mission2/.gitignore
  mission/chapter02/mission2/README.md
  mission/chapter02/mission2/eslint.config.js
  mission/chapter02/mission2/index.html
  mission/chapter02/mission2/package-lock.json
  mission/chapter02/mission2/package.json
  mission/chapter02/mission2/public/vite.svg
  mission/chapter02/mission2/src/App.jsx
  mission/chapter02/mission2/src/assets/components/Card.jsx
  mission/chapter02/mission2/src/assets/react.svg
  mission/chapter02/mission2/src/index.css
  mission/chapter02/mission2/src/main.jsx
  mission/chapter02/mission2/src/mocks/movies.js
  mission/chapter02/mission2/vite.config.js
  mission/chapter02/practise/.gitignore
  mission/chapter02/practise/README.md
  mission/chapter02/practise/eslint.config.js
  mission/chapter02/practise/index.html
  mission/chapter02/practise/package-lock.json
  mission/chapter02/practise/package.json
  mission/chapter02/practise/public/vite.svg
  mission/chapter02/practise/src/App.css
  mission/chapter02/practise/src/App.jsx
  mission/chapter02/practise/src/assets/react.svg
  mission/chapter02/practise/src/components/Button.jsx
  mission/chapter02/practise/src/components/Input.jsx
  mission/chapter02/practise/src/index.css
  mission/chapter02/practise/src/main.jsx
  mission/chapter02/practise/vite.config.js
Labels: Mission, Keyword, Chapter02

#30 [2주차/노스] 워크북 제출합니다.
  keyword/chapter02/keyword.md
  mission/chapter02/mission1/.gitignore
  mission/chapter02/mission1/README.md
  mission/chapter02/mission1/eslint.config.js
  mission/chapter02/mission1/index.html
  mission/chapter02/mission1/package.json
  mission/chapter02/mission1/public/vite.svg
  mission/chapter02/mission1/src/App.css
  mission/chapter02/mission1/src/App.jsx
  mission/chapter02/mission1/src/assets/react.svg
  mission/chapter02/mission1/src/components/MyButton.css
  mission/chapter02/mission1/src/components/MyButton.jsx
  mission/chapter02/mission1/src/components/MyInput.css
  mission/chapter02/mission1/src/components/MyInput.jsx
  mission/chapter02/mission1/src/index.css
  mission/chapter02/mission1/src/main.jsx
  mission/chapter02/mission1/vite.config.js
  mission/chapter02/mission1/yarn.lock
  mission/chapter02/mission2/.gitignore
  mission/chapter02/mission2/README.md
  mission/chapter02/mission2/eslint.config.js
  mission/chapter02/mission2/index.html
  mission/chapter02/mission2/package.json
  mission/chapter02/mission2/public/vite.svg
  mission/chapter02/mission2/src/App.jsx
  mission/chapter02/mission2/src/assets/react.svg
  mission/chapter02/mission2/src/components/MovieItem.jsx
  mission/chapter02/mission2/src/main.jsx
  mission/chapter02/mission2/src/mocks/movies.js
  mission/chapter02/mission2/vite.config.js
  mission/chapter02/mission2/yarn.lock
Labels: Mission, Keyword, Chapter02

#41 [2주차/willow] 워크북 제출합니다.
  keyword/chapter00/keyword.md
  keyword/chapter00/keyword2.md
  keyword/chapter01/keyword.md
  keyword/chapter02/keyword.md
  mission/chapter00/image-1.png
  mission/chapter00/image-2.png
  mission/chapter00/image-3.png
  mission/chapter00/image.png
  mission/chapter00/index.html
  mission/chapter00/index2.html
  mission/chapter00/logo.png
  mission/chapter00/mission.md
  mission/chapter00/mode.png
  mission/chapter01/index.html
  mission/chapter01/script.js
  mission/chapter01/style.css
  mission/chapter02/package.json
  mission/chapter02/vite-project/.gitignore
  mission/chapter02/vite-project/README.md
  mission/chapter02/vite-project/eslint.config.js
  mission/chapter02/vite-project/index.html
  mission/chapter02/vite-project/package-lock.json
  mission/chapter02/vite-project/package.json
  mission/chapter02/vite-project/public/vite.svg
  mission/chapter02/vite-project/src/App.css
  mission/chapter02/vite-project/src/App.jsx
  mission/chapter02/vite-project/src/assets/react.svg
  mission/chapter02/vite-project/src/index.css
  mission/chapter02/vite-project/src/main.jsx
  mission/chapter02/vite-project/vite.config.js
  mission/chapter02/vite-project2/.gitignore
  mission/chapter02/vite-project2/README.md
  mission/chapter02/vite-project2/eslint.config.js
  mission/chapter02/vite-project2/index.html
  mission/chapter02/vite-project2/package-lock.json
  mission/chapter02/vite-project2/package.json
  mission/chapter02/vite-project2/public/vite.svg
  mission/chapter02/vite-project2/src/App.css
  mission/chapter02/vite-project2/src/App.jsx
  mission/chapter02/vite-project2/src/assets/react.svg
  mission/chapter02/vite-project2/src/components/MovieItem.jsx
  mission/chapter02/vite-project2/src/index.css
  mission/chapter02/vite-project2/src/main.jsx
  mission/chapter02/vite-project2/src/mocks/movies.js
  mission/chapter02/vite-project2/vite.config.js
Labels: Mission, Keyword, Chapter02

#27 [2주차/noah] 워크북 제출합니다.
  .gitignore
  keyword/chapter02/react.md
  mission/chapter02/mission/.eslintrc.cjs
  mission/chapter02/mission/.gitignore
  mission/chapter02/mission/README.md
  mission/chapter02/mission/index.html
  mission/chapter02/mission/package-lock.json
  mission/chapter02/mission/package.json
  mission/chapter02/mission/public/vite.svg
  mission/chapter02/mission/src/App.css
  mission/chapter02/mission/src/App.tsx
  mission/chapter02/mission/src/assets/react.svg
  mission/chapter02/mission/src/components/button.tsx
  mission/chapter02/mission/src/components/input.tsx
  mission/chapter02/mission/src/index.css
  mission/chapter02/mission/src/main.tsx
  mission/chapter02/mission/src/mocks/movies.js
  mission/chapter02/mission/src/pages/mission1.tsx
  mission/chapter02/mission/src/pages/mission2.tsx
  mission/chapter02/mission/src/vite-env.d.ts
  mission/chapter02/mission/tsconfig.json
  mission/chapter02/mission/tsconfig.node.json
  mission/chapter02/mission/vite.config.ts
Labels: Mission, Keyword, Chapter02

#29 [2주차/ 민] 워크북 제출합니다.
  .vscode/settings.json
  keyword/chapter02/react맛보기.md
  keyword/chapter02/useState객체상태업데이트 실습.PNG
  keyword/chapter02/useState기초실습.PNG
  keyword/chapter02/useState심화실습.PNG
  mission/chapter02/mission02/.gitignore
  mission/chapter02/mission02/README.md
  mission/chapter02/mission02/eslint.config.js
  mission/chapter02/mission02/index.html
  mission/chapter02/mission02/package-lock.json
  mission/chapter02/mission02/package.json
  mission/chapter02/mission02/public/vite.svg
  mission/chapter02/mission02/src/App.css
  mission/chapter02/mission02/src/App.jsx
  mission/chapter02/mission02/src/assets/react.svg
  mission/chapter02/mission02/src/component/moviePoster.jsx
  mission/chapter02/mission02/src/index.css
  mission/chapter02/mission02/src/main.jsx
  mission/chapter02/mission02/src/movieList/movies.js
  mission/chapter02/mission02/vite.config.js
  mission/chapter02/mission1/mission01/.gitignore
  mission/chapter02/mission1/mission01/README.md
  mission/chapter02/mission1/mission01/eslint.config.js
  mission/chapter02/mission1/mission01/index.html
  mission/chapter02/mission1/mission01/package-lock.json
  mission/chapter02/mission1/mission01/package.json
  mission/chapter02/mission1/mission01/public/vite.svg
  mission/chapter02/mission1/mission01/src/App.css
  mission/chapter02/mission1/mission01/src/App.jsx
  mission/chapter02/mission1/mission01/src/assets/react.svg
  mission/chapter02/mission1/mission01/src/component/CustomButton.css
  mission/chapter02/mission1/mission01/src/component/CustomButton.jsx
  mission/chapter02/mission1/mission01/src/component/CustomInput.css
  mission/chapter02/mission1/mission01/src/component/CustomInput.jsx
  mission/chapter02/mission1/mission01/src/index.css
  mission/chapter02/mission1/mission01/src/main.jsx
  mission/chapter02/mission1/mission01/vite.config.js
Labels: Mission, Keyword, Chapter02

#43 [3주차/다일] 워크북 제출합니다
  keyword/chapter03/keyword.md
  mission/chapter03/mission/.gitignore
  mission/chapter03/mission/README.md
  mission/chapter03/mission/eslint.config.js
  mission/chapter03/mission/index.html
  mission/chapter03/mission/package-lock.json
  mission/chapter03/mission/package.json
  mission/chapter03/mission/src/App/globalStyle.js
  mission/chapter03/mission/src/App/index.jsx
  mission/chapter03/mission/src/App/theme.js
  mission/chapter03/mission/src/App/ui/Navbar/assets/logo.svg
  mission/chapter03/mission/src/App/ui/Navbar/index.jsx
  mission/chapter03/mission/src/App/ui/Navbar/style.js
  mission/chapter03/mission/src/Page/CategoryPage/assets/categoryCardImg/background_image_1.png
  mission/chapter03/mission/src/Page/CategoryPage/assets/categoryCardImg/background_image_2.png
  mission/chapter03/mission/src/Page/CategoryPage/assets/categoryCardImg/background_image_3.png
  mission/chapter03/mission/src/Page/CategoryPage/assets/categoryCardImg/background_image_4.png
  mission/chapter03/mission/src/Page/CategoryPage/assets/categoryCardImg/index.js
  mission/chapter03/mission/src/Page/CategoryPage/index.jsx
  mission/chapter03/mission/src/Page/CategoryPage/style.js
  mission/chapter03/mission/src/Page/LoginPage/index.jsx
  mission/chapter03/mission/src/Page/MovieListPage/index.jsx
  mission/chapter03/mission/src/Page/MovieListPage/ui/MovieList/api/useMovieList.js
  mission/chapter03/mission/src/Page/MovieListPage/ui/MovieList/index.jsx
  mission/chapter03/mission/src/Page/MovieListPage/ui/MovieList/style.js
  mission/chapter03/mission/src/Page/SearchPage/index.jsx
  mission/chapter03/mission/src/Page/SignUpPage/index.jsx
  mission/chapter03/mission/src/Page/index.jsx
  mission/chapter03/mission/src/Page/style.js
  mission/chapter03/mission/src/Page/ui/Sidebar/assets/shorts.svg
  mission/chapter03/mission/src/Page/ui/Sidebar/index.jsx
  mission/chapter03/mission/src/Page/ui/Sidebar/style.js
  mission/chapter03/mission/src/Shared/config/apiConfig.js
  mission/chapter03/mission/src/Shared/model/handleNavigate.js
  mission/chapter03/mission/src/index.jsx
  mission/chapter03/mission/vite.config.js
Labels: Mission, Keyword, Chapter03

#47 [3주차/노스] 워크북 제출합니다.
  keyword/chapter03/keyword.md
  mission/chapter03/mission/.gitignore
  mission/chapter03/mission/README.md
  mission/chapter03/mission/eslint.config.js
  mission/chapter03/mission/index.html
  mission/chapter03/mission/package.json
  mission/chapter03/mission/public/vite.svg
  mission/chapter03/mission/src/App.jsx
  mission/chapter03/mission/src/components/Card/card.jsx
  mission/chapter03/mission/src/components/Card/card.style.js
  mission/chapter03/mission/src/components/Navbar/navbar.jsx
  mission/chapter03/mission/src/components/Navbar/navbar.style.js
  mission/chapter03/mission/src/components/Sidebar/sidebar.jsx
  mission/chapter03/mission/src/components/Sidebar/sidebar.style.js
  mission/chapter03/mission/src/layout/root-layout.jsx
  mission/chapter03/mission/src/layout/root-layout.style.js
  mission/chapter03/mission/src/main.jsx
  mission/chapter03/mission/src/pages/LoginPage.jsx
  mission/chapter03/mission/src/pages/Movies/category.jsx
  mission/chapter03/mission/src/pages/Movies/category.style.js
  mission/chapter03/mission/src/pages/Movies/movies.jsx
  mission/chapter03/mission/src/pages/Movies/movies.style.js
  mission/chapter03/mission/src/pages/SearchPage.jsx
  mission/chapter03/mission/src/pages/SignupPage.jsx
  mission/chapter03/mission/vite.config.js
  mission/chapter03/mission/yarn.lock
  mission/chapter03/practice/.gitignore
  mission/chapter03/practice/README.md
  mission/chapter03/practice/eslint.config.js
  mission/chapter03/practice/index.html
  mission/chapter03/practice/package.json
  mission/chapter03/practice/public/vite.svg
  mission/chapter03/practice/src/App.css
  mission/chapter03/practice/src/App.jsx
  mission/chapter03/practice/src/assets/react.svg
  mission/chapter03/practice/src/components/custom-button.jsx
  mission/chapter03/practice/src/components/navbar.jsx
  mission/chapter03/practice/src/index.css
  mission/chapter03/practice/src/layout/root-layout.jsx
  mission/chapter03/practice/src/main.jsx
  mission/chapter03/practice/src/pages/home.jsx
  mission/chapter03/practice/src/pages/movies.jsx
  mission/chapter03/practice/src/pages/not-found.jsx
  mission/chapter03/practice/vite.config.js
  mission/chapter03/practice/yarn.lock
Labels: Mission, Keyword, Chapter03

#48 [3주차/willlow] 워크북 제출합니다.
  keyword/chapter03/vite-project/.gitignore
  keyword/chapter03/vite-project/README.md
  keyword/chapter03/vite-project/eslint.config.js
  keyword/chapter03/vite-project/index.html
  keyword/chapter03/vite-project/package-lock.json
  keyword/chapter03/vite-project/package.json
  keyword/chapter03/vite-project/public/vite.svg
  keyword/chapter03/vite-project/src/App.css
  keyword/chapter03/vite-project/src/App.jsx
  keyword/chapter03/vite-project/src/assets/react.svg
  keyword/chapter03/vite-project/src/components/navbar.jsx
  keyword/chapter03/vite-project/src/index.css
  keyword/chapter03/vite-project/src/layout/root-layout.jsx
  keyword/chapter03/vite-project/src/main.jsx
  keyword/chapter03/vite-project/src/pages/home.jsx
  keyword/chapter03/vite-project/src/pages/movies.jsx
  keyword/chapter03/vite-project/src/pages/not-found.jsx
  keyword/chapter03/vite-project/vite.config.js
Labels: Keyword, Chapter03

#46 [3주차/현] 워크북 제출합니다.
  keyword/chapter03/keyword.md
  mission/chapter03/mission/.gitignore
  mission/chapter03/mission/README.md
  mission/chapter03/mission/eslint.config.js
  mission/chapter03/mission/index.html
  mission/chapter03/mission/package-lock.json
  mission/chapter03/mission/package.json
  mission/chapter03/mission/public/vite.svg
  mission/chapter03/mission/src/App.css
  mission/chapter03/mission/src/App.jsx
  mission/chapter03/mission/src/assets/react.svg
  mission/chapter03/mission/src/components/Card.jsx
  mission/chapter03/mission/src/components/MoviesPage.jsx
  mission/chapter03/mission/src/components/category/nowplaying.jsx
  mission/chapter03/mission/src/components/category/popular.jsx
  mission/chapter03/mission/src/components/category/toprated.jsx
  mission/chapter03/mission/src/components/category/upcoming.jsx
  mission/chapter03/mission/src/components/categorypage.jsx
  mission/chapter03/mission/src/components/loginpage.jsx
  mission/chapter03/mission/src/components/navbar.jsx
  mission/chapter03/mission/src/components/searchpage.jsx
  mission/chapter03/mission/src/components/sidebar.jsx
  mission/chapter03/mission/src/components/signuppage.jsx
  mission/chapter03/mission/src/img/blue.jpg
  mission/chapter03/mission/src/img/green.jpg
  mission/chapter03/mission/src/img/purple.jpg
  mission/chapter03/mission/src/img/yellow.jpg
  mission/chapter03/mission/src/index.css
  mission/chapter03/mission/src/main.jsx
  mission/chapter03/mission/src/mocks/movies.js
  mission/chapter03/mission/src/rootlayout.jsx
  mission/chapter03/mission/src/styles/category.style.jsx
  mission/chapter03/mission/src/styles/layout.style.jsx
  mission/chapter03/mission/src/styles/movies.style.jsx
  mission/chapter03/mission/src/styles/navbar.style.jsx
  mission/chapter03/mission/src/styles/sidebar.style.jsx
  mission/chapter03/mission/vite.config.js
  mission/chapter03/practice/.gitignore
  mission/chapter03/practice/README.md
  mission/chapter03/practice/eslint.config.js
  mission/chapter03/practice/index.html
  mission/chapter03/practice/package-lock.json
  mission/chapter03/practice/package.json
  mission/chapter03/practice/public/vite.svg
  mission/chapter03/practice/src/App.css
  mission/chapter03/practice/src/App.jsx
  mission/chapter03/practice/src/assets/react.svg
  mission/chapter03/practice/src/components/custom-button.jsx
  mission/chapter03/practice/src/components/navbar.jsx
  mission/chapter03/practice/src/index.css
  mission/chapter03/practice/src/layout/root-layout.jsx
  mission/chapter03/practice/src/main.jsx
  mission/chapter03/practice/src/pages/home.jsx
  mission/chapter03/practice/src/pages/movies.jsx
  mission/chapter03/practice/src/pages/not-found.jsx
  mission/chapter03/practice/vite.config.js
Labels: Mission, Keyword, Chapter03
