Repository UMC-Inha/Web, pull requests merged in 2024-09, with the labels that each got.

#4 [0주차/현] 워크북 제출합니다.
  keyword/chapter00/keyword.md
  mission/chapter00/mission.md
Labels: Mission, Keyword, Chapter00

#3 [0주차/민]워크북 제출합니다
  keyword/chapter00/kerword.md
  mission/chapter00/mission.md
Labels: Keyword, Chapter00

#5 [0주차/noah] 미션 제출합니다
  keyword/chapter00/keyword.md
  mission/chapter00/mission.md
Labels: Mission, Keyword, Chapter00

#2 [0주차/jerry] 워크북 제출합니다.
  keyword/chapter00/keyword.md
  mission/chapter00/mission.md
Labels: Mission, Keyword, Chapter00

#7 [0주차/다일] 워크북 제출합니다.
  keyword/chapter00/keyword.md
  mission/chapter00/misson.md
Labels: Mission, Keyword, Chapter00

#10 [0주차/하치와레] 워크북 제출합니다.
  keyword/chapter00/keyword.md
  mission/chapter00/keyword.md
Labels: Mission, Keyword, Chapter00

#13 [0주차/willow] 워크북 제출합니다.
  keyword/chapter00/keyword.md
  mission/chapter00/mission.md
Labels: Mission, Keyword, Chapter00

#18 [1주차/noah] 워크북 제출합니다
  .gitignore
  keyword/chapter00/css.md
  keyword/chapter00/html.md
  keyword/chapter00/keyword0-0.md
  keyword/chapter00/keyword0-1.md
  keyword/chapter00/keyword0-2.md
  keyword/chapter01/js.md
  mission/chapter00/mission.md
  mission/chapter00/mission1.html
  mission/chapter00/mission2.html
  mission/chapter01/mimssion.html
  mission/chapter01/script.js
  mission/chapter01/style.css
Labels: Mission, Keyword, Chapter00, Chapter01

#15 [0주차/민] 워크북 제출합니다.
  keyword/chapter00/css/absolute실습.html
  keyword/chapter00/css/animation실습.html
  keyword/chapter00/css/css.md
  keyword/chapter00/css/relative실습.html
  keyword/chapter00/css/tranform학습.html
  keyword/chapter00/css/transition실습.html
  keyword/chapter00/html/block_vs_inline실습.PNG
  keyword/chapter00/html/html.md
  mission/chapter00/css/mission1.html
  mission/chapter00/css/mission2.html
  mission/chapter00/html/mission_home1.jpg
  mission/chapter00/html/mission_home2.jpg
  mission/chapter00/html/mission_members.jpg
  mission/chapter00/html/mission_notice.jpg
  mission/chapter00/html/mission_project.jpg
Labels: Mission, Keyword, Chapter00

#16 [0주차/노스] 워크북 제출합니다.
  keyword/chapter00/css.md
  keyword/chapter00/html.md
  keyword/chapter00/keyword0-0.md
  mission/chapter00/image (1).png
  mission/chapter00/image (10).png
  mission/chapter00/image (11).png
  mission/chapter00/image (2).png
  mission/chapter00/image (3).png
  mission/chapter00/image (4).png
  mission/chapter00/image (5).png
  mission/chapter00/image (6).png
  mission/chapter00/image (7).png
  mission/chapter00/image (8).png
  mission/chapter00/image (9).png
  mission/chapter00/logo.png
  mission/chapter00/mission0-0.md
  mission/chapter00/mission1.html
  mission/chapter00/mission2.html
Labels: Mission, Keyword, Chapter00

#23 [1주차/현] 워크북 제출합니다.
  keyword/chapter01/js.md
  mission/chapter01/TodoList.html
Labels: Mission, Keyword, Chapter01

#24 [1주차/노스] 워크북 제출합니다.
  keyword/chapter01/keyword.md
  mission/chapter01/mission1.html
Labels: Mission, Keyword, Chapter01

#26 [0주차/현] 워크북 제출합니다.
  keyword/chapter00/css.md
  keyword/chapter00/html.md
  mission/chapter00/css_mission1.html
  mission/chapter00/css_mission2.html
  mission/chapter00/html_mission.png
  mission/chapter00/logo.png
Labels: Mission, Keyword, Chapter00

#17 [1주차/하치와레] 워크북 제출합니다
  .gitignore
  keyword/chapter00/css.md
  keyword/chapter00/html.md
  keyword/chapter01/keyword.md
  mission/chapter00/css/logo.webp
  mission/chapter00/css/mission1.html
  mission/chapter00/css/mission2.html
  mission/chapter00/keyword.md
  mission/chapter01/index.html
  mission/chapter01/script.js
  mission/chapter01/style.css
Labels: Mission, Keyword, Chapter01

#21 [1주차/민] 워크북 제출합니다
  .vscode/settings.json
  keyword/chapter01/javaScript.md
  mission/chapter01/mission.html
Labels: Mission, Keyword, Chapter01

#20 [1주차/제리] 키워드 제출합니다
  keyword/chapter00/css/absolute.html
  keyword/chapter00/css/animation.html
  keyword/chapter00/css/border_outline.html
  keyword/chapter00/css/center.html
  keyword/chapter00/css/flex.html
  keyword/chapter00/css/grid.html
  keyword/chapter00/css/keyword-0-2.md
  keyword/chapter00/css/relative.html
  keyword/chapter00/css/transform.html
  keyword/chapter00/css/transition.html
  keyword/chapter00/css/translate.html
  keyword/chapter00/html/keyword-0-1.md
  keyword/chapter01/keyword.md
  mission/chapter00/img/main-logo.png
  mission/chapter00/img/mode.png
  mission/chapter00/mission-0-1.html
  mission/chapter00/mission-0-2-1.html
  mission/chapter00/mission-0-2-2.html
  mission/chapter01/mission01.css
  mission/chapter01/mission01.html
  mission/chapter01/mission01.js
Labels: Mission, Keyword, Chapter01
